*{
    margin:0px;
    padding: 0px;
    text-decoration: none;
}
/* 首页样式 */
.box{
    height: 50px;
    background-color: #ccc;
}
.box1{
    width: 80%;
    height: 50px;
    line-height: 50px;
    margin:0px auto;
    background-color: #999;
}

/* 登录注册页样式 */
.box-login,.box-register{
    width: 400px;
    height: 200px;
    margin:20px auto;
}
fieldset{
    padding:15px;
}

fieldset button{
    padding:2px 5px;
    margin-right: 5px;
}